/* p,li,summary,div.expand { font-size: 1.2em; line-height: 1.4em; } */

body { font-size: 140%; line-height: 120%; max-width: 1048px; }

article section.page h1:first-of-type { font-size: 3em; line-height: 110%; text-align: left; font-family: "Roboto", sans-serif  }
h1 { font-size: 2.3em; line-height: 110%;  }
h2 { font-size: 2.0em; line-height: 110%;}
h2 { font-size: 1.7em; line-height: 110%;}
h3 { font-size: 1.4em; line-height: 110%; }
h3 { font-size: 1.2em; line-height: 110%;}

img { margin:0 !important; border: 0 !important;  }
