{{- $image := .img -}}
{{- $original := .img -}}
    {{- $rotation := "" -}}
    {{- with $image.Exif -}}
     {{- with .Tags.Orientation -}}
        {{/* Exif orientation is explained here: https://www.impulseadventure.com/photo/exif-orientation.html */}}
        {{/* Example images can be found here: https://github.com/recurser/exif-orientation-examples*/}}
        {{/* We can fix orientation 3, 6 and 8 by rotating. */}}
        {{/* To fix orientation 2, 4, 5, 6 we would need to flip the image, sadly hugo can not do that. */}}
        {{/* So we can only fix them a "bit" by rotating them but they will be mirrored. */}}
        {{/* An orientation of 2 means that the image only needs to be flipped so we do nothing in that case. */}}
        {{/* An orientation of 1 means that the image has the correct rotation and is not mirrored. */}}
        {{- if or (eq . 8) (eq . 7) -}}
            {{- $rotation = " r90" -}}
        {{- else if or (eq . 3) (eq . 4) -}}
            {{- $rotation = " r180" -}}
        {{- else if or (eq . 6) (eq . 5) -}}
            {{- $rotation = " r270" -}}
        {{- end -}}
     {{- end -}}
    {{- end -}}
    {{- with (printf "%s %s %s" .size $rotation (default "smart" $original.Params.crop)) -}}
        {{- if hasPrefix . "fill" -}}
        {{- $image = ($image.Fill .) -}} 
        {{- else if hasPrefix . "fit" -}}
        {{- $image = ($image.Fit . ) -}} 
        {{- else if hasPrefix . "crop" -}}
        {{- $image = ($image.Crop . ) -}} 
        {{- else if hasPrefix . "resize" -}}
        {{- $image = ($image.Resize (printf "%s" (delimit (after 1 (split . " ")) " ")) ) -}} 
        {{- else -}} 
         {{- errorf (printf "Invalid image processing command '%s': Must be one of crop, fit, fill or resize." .) -}}
       {{- end -}}
    {{- end -}}
{{- $preview := ($image.Fit "8x8 q70 box jpg") -}}
{{- $link := $original.RelPermalink -}}
{{- if ne (default "-" .link) "-" -}}
 {{- $link = printf "%s#%s" .link.RelPermalink ($original.RelPermalink | anchorize ) -}} 
{{- else -}} 
{{- end -}}
{{- with $image -}}
<div class="figurewrapper" title="{{ $original.Title }}" id="{{ $original.RelPermalink | anchorize }}"><figure data-latlong="{{ with $original.Exif }}{{ .Lat }},{{ .Long }}{{ end }}" style="width:{{ $image.Width }}px; min-width:{{ $image.Width }}px; height:{{ $image.Height }}px; min-height:{{ $image.Height }}px; background-image: url('data:image/png;base64,{{ $preview.Content | base64Encode }}'); background-size:cover; margin:0; "><a class="imagedetail" href="{{ $link }}"><img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" loading="lazy" alt="{{ $original.Title }}"></a><figcaption>{{ $original.Title }}</figcaption></figure></div>
{{ end }}
