<script>
    window.onload = function() {
      const noteForm = document.getElementById('noteform');
      const key = `inputs${document.location.pathname}`;
            

      noteForm.addEventListener("submit", function(event) {
        event.preventDefault();
      });
   
      function make_visible(element_list) {
              if (element_list.length == 0) { return; }
              const e = element_list[0];
              if (!e.classList.contains("active")) {
                e.classList.add("active");
                setTimeout(function() { e.classList.remove("active"); }, 2000);
              }
      }


      function store(o) {
              localStorage.setItem(key, JSON.stringify(o));
              console.log(`stored to ${key}`);
              make_visible(noteForm.getElementsByClassName('stored'));
      }

      saveall = function() {
              e= [];
              inputs.forEach(function(v) {
                      k = v.getAttribute("name");
                      o = {"key": k, "value": v.value.trim()};
                      e.push(o); 
              });
              // console.log(new FormData(noteForm));
              store(e);
      }

      let inputs = noteForm.querySelectorAll('input[type="text"],textarea');
      let names = 1;
      inputs.forEach(function(i) {
              i.onblur=saveall;
              if (i.getAttribute("name") == null) {
                      i.setAttribute("name", `input-${names++}`);
              }
      });

      function retrieve() {
              try {
                 let v = localStorage.getItem(key);
                 JSON.parse(v).forEach(function(e,i) {
                         // console.log(`${e.key}: ${e.value}`);
                         noteForm[e.key].value = e.value;
                 });
                    console.log(`loaded from ${key}`);
                    make_visible(noteForm.getElementsByClassName('loaded'));
                  } catch (e) {
                          console.log(`error ${e} while getting ${key}` );
                }
     };
     retrieve();
};

</script>
<form id="noteform">
    {{ $page := .Page -}}{{ with $.Inner -}}
      {{ . | $page.RenderString | safeHTML }}
    {{ end -}}
    <p class="feedback">
    <span class="loaded">Notizen geladen. (Quelle: lokaler Browser-Speicher)</span>
    <span class="stored">Notizen gespeichert. (Lokaler Browser-Speicher)</span>
    </p>
<style>
    .feedback span { opacity: 0 }
    .feedback span.loaded.active, .feedback span.stored.active  { opacity: 0.2 }
</style>

</form>
